body { font-family: Helvetica}


nav#mainmenu { text-align: center; margin-bottom: -40px; } 
nav#mainmenu a {
	display: inline-block;
	/*width: 60px;*/
	/*height: 60px;*/
	/*line-height: 60px;*/
	/*text-align: center;*/
	padding: 19px;
	/*unlicked tabs color*/
	background-color: #9fbc7c;
	color: #fff;
	text-decoration: none;
	border-radius: 60px;
	margin-left: 15px;
	margin-top: -50px;

	font-size: 13px;

	position: relative;

	bottom: -313px;
	/*right:-100px;*/

}



/*hover color*/
nav#mainmenu a:hover {
	background-color: #a0d190;}
						  

nav#mainmenu a.selected {
	/*clicked tab color*/
	background-color: #CDE3B4;
}






#container {

width: 380px;
height: 570px;
background-color: #0b2f42;
margin: 25px auto;
border-radius: 10px;
}



.topbar{

height: 200px;
background-color: #d1e1f2;
text-align: center;
padding: 20px;

}



#containerbox {

width: 380px;
height: 570px;
background-color: #0b2f42;
margin: 25px auto;
border-radius: 10px;
}



.logobar{

height: 100px;
background-color: #d1e1f2;
text-align: center;
padding: 20px;

}



.gallery{

height: 700px;
width: 317px;
/*background-color: #7992a2;*/
text-align: center;
padding: 20px;
border-radius: 5px;
margin: 25px auto;

}

#scroll{


height:400px; 
background-color: #7992a2;

}

#hubcontainerbox{

width: 380px;
height: 570px;
background-color: #0b2f42;
margin: 25px auto;
border-radius: 10px;
}


#backdrop{

width: 317px;
height: 525px;
background-color: #7992a2;
margin: 25px auto;
border-radius: 10px;
padding: 20px;
}



