body { font-family: Helvetica}


#mainContainer {

width: 380px;
height: 598px;
background-color: #0b2f42;
margin: 25px auto;

}

.pageIndicator {

position: fixed;
top: 13px;	
/*right: 570px;*/
right: 241px;

}

.backBtn {

position: fixed;
top: 35px;	
/*right: 790px;*/
right: 453px;
}

#topBar {
 width: 380px;
 height: 35px;
 opacity: 0.5;
 background-color: #B5C2C7;
 margin: 25px auto;
text-align: center;
line-height: 5px;

}


.logotop{

height: 570px;
background-color: #7992a2;
text-align: center;
padding: 20px;

}

.logoContent {

position: fixed;
top: 256px;
/*right: 550px;	*/
right: 215px;
}



#bottomBar {
 width: 380px;
 height: 35px;
 opacity: 0.5;
 background-color: #B5C2C7;
 position: fixed;
 bottom: 83px;
 /*bottom: 10px;*/
}


.gallery{

height: 700px;
width: 317px;
/*background-color: #7992a2;*/
text-align: center;
padding: 20px;

margin: 25px auto;

}

#scroll{


height:450px; 
background-color: #7992a2;

}

#hubBox{

width: 380px;
height: 598px;
background-color: #0b2f42;
margin: 25px auto;

}


#backdrop{

width: 317px;
height: 450px;
background-color: #7992a2;
margin: 25px auto;
padding: 20px;

}

#backdrop img{
width: 150px;
height: 200px;
position: fixed;
/*left: 475px;*/
left: 124px;
}

.gameinfo {

width: 167px;
position: fixed;
top: 83px;
/*right: 470px;*/
right: 128px;
}


.viewbutton {

position: fixed;
left: 500px;
top: 300px;

}

.viewbutton img{

position: fixed;
bottom: 374px;
}
















