body { font-family: Helvetica}


nav#mainmenu { text-align: center; margin-bottom: -40px; } 
nav#mainmenu a {
	display: inline-block;
	/*width: 60px;*/
	/*height: 60px;*/
	/*line-height: 60px;*/
	/*text-align: center;*/
	padding: 19px;
	/*unlicked tabs color*/
	background-color: #9fbc7c;
	color: #fff;
	text-decoration: none;
	border-radius: 10px;
	margin-left: 15px;
	margin-top: -50px;

	font-size: 13px;

	position: relative;

	bottom: -444px;
	left: -8px;
	

}



/*hover color*/
nav#mainmenu a:hover {
	background-color: #a0d190;}
						  

nav#mainmenu a.selected {
	/*clicked tab color*/
	background-color: #CDE3B4;
}






#mainContainer {

width: 380px;
height: 598px;
background-color: #0b2f42;
margin: 25px auto;

}

#topBar {
 width: 380px;
 height: 35px;
 opacity: 0.5;
 background-color: #B5C2C7;
 margin: 25px auto;
}


.logotop{

height: 570px;
background-color: #d1e1f2;
text-align: center;
padding: 20px;

}

#bottomBar {
 width: 380px;
 height: 35px;
 opacity: 0.5;
 background-color: #B5C2C7;
 position: fixed;
 bottom: 83px;
}

#trendBox {

width: 380px;
height: 598px;
background-color: #0b2f42;
margin: 25px auto;

}



.logobar{

height: 100px;
background-color: #d1e1f2;
text-align: center;
padding: 20px;

}







.gallery{

height: 700px;
width: 317px;
/*background-color: #7992a2;*/
text-align: center;
padding: 20px;

margin: 25px auto;

}

#scroll{


height:450px; 
background-color: #7992a2;

}

#hubBox{

width: 380px;
height: 598px;
background-color: #0b2f42;
margin: 25px auto;

}


#backdrop{

width: 317px;
height: 450px;
background-color: #7992a2;
margin: 25px auto;

padding: 20px;
}

#backdrop img{
width: 150px;
height: 200px;
position: fixed;
left: 475px;

}

.gameinfo {

width: 167px;
position: fixed;
top: 83px;
right: 470px;

}


.viewbutton {

position: fixed;
left: 500px;
top: 300px;

}

.viewbutton img{

position: fixed;
bottom: 374px;


}